@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  //font-family: Georgia, Times, Times New Roman, serif;
  //font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  opacity: 1 !important;
  @apply text-[#212121];
}

.section {
  @apply mx-auto max-md:px-6;

  @media only screen and (max-width: 767px) {
    max-width: 100%;
  }

  @media only screen and (min-width: 1400px) {
    max-width: 1296px;
  }

  // @media only screen and (min-width: 1150px) and (max-width: 1399px) {
  //   max-width: 1074px;
  // }

  @media only screen and (min-width: 900px) and (max-width: 1149px) {
    max-width: 1074px;
    width: 100%;
    padding-inline: 1rem;
  }

  @media only screen and (min-width: 768px) and (max-width: 899px) {
    max-width: unset;
    padding-inline: 1rem;
    width: 100%;
  }
}

h1 {
  @apply text-[1.7rem] lg:text-[2rem] 2xl:text-[2.2rem] leading-[1.4];
}

h2 {
  @apply text-[1.6rem] lg:text-[1.6rem] 2xl:text-[1.8rem] leading-[1.4];
}

// h3 {
//   @apply text-[1.5rem] lg:text-[1.5rem] 2xl:text-[1.7rem] leading-[1.4];
// }

h3 {
  @apply mb-2 text-xl font-bold dark:text-white;
}

h1,
h2,
h3,
h4,
h5,
blockquote {
  letter-spacing: 0.2px;
}

p {
  @apply font-normal text-gray-500 sm:text-base;
}
ul {
  @apply text-gray-900;
}

.sDbtn {
  @apply px-4 py-3 text-sm font-medium text-center;
}

// .sectionHeader {
//   p {
//     @apply text-lg font-normal text-gray-500 lg:text-base;
//   }
// }
.sdLink {
  @apply font-medium text-primary hover:text-primary-900;
}
.card {
  h3 {
    @apply mb-2 text-xl font-bold dark:text-white;
  }
}

.subduedText {
  @apply text-gray-500 dark:text-gray-400;
}

.reactIcon {
  @apply inline align-middle mr-2;
}

.text-15 {
  @apply text-[0.9375rem];
}

#primaryNav > .container,
#secondaryNav > .container {
  max-width: 100%;
}
.card-plain {
  @apply border-0;
}
.card-plain > div {
  @apply p-0 gap-0;
}
.sd-custom-dot-list-style {
  margin-top: 25px;
  opacity: 0.7;
}
.sd-carousel-container {
  padding-bottom: 60px;
}
.sd-carousel-container .react-multi-carousel-dot button {
  background: #f9000f !important;
}
.carousel-container li {
  display: flex;
  align-items: center;
  //background-color: #000;
}
.compare-tbl tr td {
  @apply p-3.5 border-b;
}
/* Custom styles */

.accordion-title-custom h2 {
  @apply text-lg;
}

.text-gradient {
  background: linear-gradient(to right, #f9000f 20%, #f428c1 50%, #c246ff 70%, #12c2e9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 2s ease-in-out infinite alternate;
}
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
