.btn {
  @apply px-5 py-2.5 rounded font-bold;
}

.primaryBtn {
  @apply text-white
    px-5
    py-2.5
    hover:text-white
    focus:outline-none
    focus:ring-4
    focus:ring-primary-300
    dark:focus:ring-primary-900
    bg-primary
    dark:bg-primary-400
    hover:bg-primary-600
    dark:hover:bg-primary
    active:bg-primary-700
    disabled:bg-primary-200
    disabled:text-primary-700;
}

.outlinedBtn {
  @apply border border-orange-400 hover:border-transparent hover:text-white hover:bg-orange-500;
}

.small {
  @apply px-3 py-1.5 text-sm;
}

@keyframes splashAnimation {
  to {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.splashBtn {
  @apply relative overflow-hidden;

  &:after {
    @apply bg-white content-[''] h-[155px] -left-[75px] opacity-20 absolute -top-[50px] rotate-[35deg] w-[40px] z-10;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    animation: splashAnimation 1.4s infinite;
  }
}
